Source: plasma-widget-onelinecalc
Section: kde
Priority: extra
Maintainer: Alexey Noskov <alexey.noskov@gmail.com>
Build-Depends: debhelper (>= 7), cdbs, kdelibs5-dev (>= 4:4.2.95),
 kdebase-workspace-dev (>= 4:4.2.95), pkg-kde-tools
Standards-Version: 3.8.1
Homepage: http://www.kde-look.org/content/show.php/show.php?content=89524

Package: plasma-widget-onelinecalc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Plasma widget for calculating simple expressions
 This plasma widget provides small calculator in one line, which can calculate simple expressions.
